<h2>User Form</h2>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="txtName" ngModel #txtName="ngModel" required minlength="6"
            maxlength="10" />

        <div *ngIf="txtName.errors && (txtName.dirty || txtName.touched)" class="alert alert-danger">
            <div [hidden]="!txtName.errors.required"> Name is required</div>
            <div [hidden]="!txtName.errors.minlength"> Name minlength:6 character</div>
            <div [hidden]="!txtName.errors.maxlength"> Name maxlength:10 character</div>
        </div>

    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="txtEmail" ngModel #txtEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

        <div *ngIf="txtEmail.errors && (txtEmail.dirty || txtEmail.touched)" class="alert alert-danger">
            <div [hidden]="!txtEmail.errors.required">
                Email bắt buộc phải nhập
            </div>
            <div [hidden]="!txtEmail.errors.pattern">
                Email không đúng cấu trúc.
            </div>
        </div>

        <!-- {{txtEmail.className}} -->
    </div>

    <!-- <div ngModelGroup="address"> -->
    <!-- ngModelGroup giúp nhóm lại từng group cho dễ quản lý -->
    <!-- <div class="form-group"> -->
    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="txtStreet" ngModel />
    </div>
    <div class="form-group">
        <label>City</label>
        <select class="form-control" name="txtCity" ngModel required>
            <option *ngFor="let item of cities" value="{{item.Id}}">{{item.Name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Postal code</label>
        <input type="text" class="form-control" name="txtPostalCode" ngModel #txtPostalCode="ngModel" pattern="^[1-9][0-9]{4}" />

        <div *ngIf="txtPostalCode.errors && (txtPostalCode.dirty || txtPostalCode.touched)" class="alert alert-danger">
            <div [hidden]="!txtPostalCode.errors.pattern">
                Postal code có 5 ký tự số(bắt đầu từ [1-9] 4 ký tự còn lại từ [0-9])
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
</form>